@model DoBemSolution.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Informações do curso</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHorariaCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHorariaCurso)
        </dd>


    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdCurso">Editar</a> |
    <a class="btn btn-outline-dark" asp-action="Index">Voltar</a>
</div>
